.header{
    background-image: linear-gradient(to bottom right, #0F2027, #203A43, #2C5364);
}
.header .title {
    font-weight: bolder;
    color: #ffffff;

}
.header .subtitle {
    font-weight: bold;
    color: #ffffff;
}
.navbar-item {
    color: #ffffff;

}
.snip {
    display: block;
    margin: auto;
    width: 80%;
}

.fixed-bg {
    background-image: url("../img/benjamin-lizardo-1416325-unsplash.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
    background-image: linear-gradient(to bottom right, #0F2027, #203A43, #2C5364);
}

a:hover {
    color: #ffffff; !important;
}

body {
    background-color: white;

    font-family: sans-serif;
    font-size: 9pt;
}

path.land {
    fill: #dddddd;
    stroke: none;
}

path.county {
    fill: none;
    stroke: white;
    stroke-width: 1px;
    pointer-events: none;
}

path.street {
    fill: none;
    stroke: white;
    stroke-width: 1px;
    pointer-events: none;
}

.active {
    stroke: red !important;
    stroke-width: 1.5px !important;
}

circle.symbol {
    fill-opacity: 0.6;
    stroke: white;
    stroke-width: 1px;
}

div.tooltip {
    color: #222;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    padding: .2em;
    text-shadow: #f5f5f5 0 1px 0;
    opacity: 0.9;
    position: absolute;
}
.hidden {
    display: none;
}
.svg-box{
    background-color: #ffffff;
    box-shadow: 2px 8px 15px 0px #888888;
    width: 962px;
    height: 602px;
    border-radius: 10px;
    border: 1px solid black;
}
.svg-box h2 {
    text-align: center;
    padding-top: 10px;
}

.slidecontainer {
    width: 960px;
    margin-top: 25px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #da2724;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #da2724;
    cursor: pointer;
}
.selector{
    margin-top: 15px;
    width: 100px;
}
